.container {
  display: flex;
  flex-direction: column;

  .inputWrapper {
    margin: 5px;
  }

  .error {
    margin-top: 10px;
    margin-left: 5px;
    color: red;
  }

  .btn {
    margin-top: 10px;
  }
}